.App {
  margin-bottom: 15vh;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.nav-pills .nav-link.active {
  background-color: #D3BC8D;
  color: rgba(0,0,0,.55)
}

.nav-pills .nav-link {
  background: #FBFBFB;
  color: rgba(0,0,0,.55);
}

.overlay { 
  background-color: rgba(191,187,152, 0.6);
  padding: 3%;
  color:#fff;
  position:absolute;
  z-index:12;
  bottom:25%;
  left:10vw;
  width:80vw;
  text-align:center;
}

.me-5,
.me-3,
.me-2 {
  margin: 0 !important;
}

a, Link {
  color:inherit;
  text-decoration: none;
}

.gradient-custom-2 {
  background: #d8c2a8;
  background: -webkit-linear-gradient(to right, #D3BC8D, #d8c2a8, #b7b9ae, #9eb08c);
  background: linear-gradient(to right, #D3BC8D, #d8c2a8, #b7b9ae, #9eb08c);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }

  .rounded-circle {
    height: 150px;
  }

  .ContactForm {
    text-align: center;
    max-width: 300px;
    margin: 20px auto;
  }
  
  Form {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
  }

  .StepButton-d0-0-2-6.active,
  .StepButton-d2-0-2-12.active,
  .StepButton-d4-0-2-20.active,
  .StepButton-d6-0-2-26.active,
  .StepButton-d6-0-2-26.active {
    background-color: rgb(131, 137, 88) !important;
  }

  .StepButton-d0-0-2-6.active:hover,
  .StepButton-d2-0-2-12.active:hover,
  .StepButton-d4-0-2-20.active:hover,
  .StepButton-d6-0-2-26.active:hover,
  .StepButton-d6-0-2-26.active:hover {
    background-color: rgb(168, 169, 157) !important;
  }

  .StepButton-d0-0-2-6.completed,
  .StepButton-d2-0-2-12.completed,
  .StepButton-d4-0-2-20.completed,
  .StepButton-d6-0-2-26.completed,
  .StepButton-d6-0-2-26.completed {
    background-color: #D3BC8D !important;
}

  